@import 'var.less';

// reset
body,
blockquote {
    margin: 0;
}

a {
    text-decoration: none;
}

// =====================================================================

@header-height: 80px;
@header-margin: 5%;

body {
    font-family: 'Myriad Pro', sans-serif;
}

.anchor {
    position: relative;

    a {
        position: absolute;
        top: -@header-height;
    }
}

#main-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: @header-height;
    background-color: @darkgrey;
    z-index: 1;

    .logo {
        height: 100%;
        margin-left: @header-margin;

        svg {
            height: @header-height;
            width: @header-height;

            #main-logo {
                fill: @pink;
            }
        }

        &:hover {
            svg {
                #main-logo {
                    fill: white;
                }
            }
        }
    }

    .header-link {
        display: none;
        color: @font-color;
        font-family: 'Myriad Pro', sans-serif;
        font-size: 28px;

        &:hover {
            color: @pink;
        }

        &:last-of-type {
            margin-right: @header-margin;
        }
    }

    #burger-menu {
        margin-right: @header-margin;
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 40px;

        .bar {
            position: absolute;
            background-color: @font-color;
            height: 8px;
            width: 40px;
            top: 0;
            left: 0;
            transition: ease-in-out 0.3s;

            &:nth-of-type(2) {
                top: 16px;
            }

            &:nth-of-type(3) {
                top: 32px;
            }
        }

        &.active .bar {
            &:nth-of-type(1) {
                transform: rotate(-135deg);
                top: 16px;
            }

            &:nth-of-type(2) {
                left: -100%;
                opacity: 0;
            }

            &:nth-of-type(3) {
                transform: rotate(135deg);
                top: 16px;
            }
        }

        &:hover .bar {
            background-color: @pink;
        }
    }
}

#menu {
    position: fixed;
    top: @header-height;
    bottom: 0;
    width: 100%;
    left: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: @darkgrey;
    transition: left ease 0.2s;

    &.active {
        left: 0;
        transition: left ease 0.5s;
    }

    a {
        font-size: 2em;
        color: @font-color;
        margin-bottom: 2em;

        &:hover {
            color: @pink;
        }
    }
}

#header-height {
    height: @header-height;
}

#vking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../media/bg_vking.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 626px;
    font-family: viking;
    text-align: center;
    color: @font-color;
    padding-top: @header-height;

    blockquote {
        padding: 0 1.5em;
    }

    .viking-element {
        margin-bottom: 1.5em;
    }

    #viking {
        height: 70%;
    }
}

@icon-size: 100px;

#advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: @grey;
    font-family: 'Myriad Pro', sans-serif;
    color: @font-color;
    text-align: center;

    .advantage {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;

        &:last-of-type {
            margin-bottom: 1em;
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: @pink;
            border-radius: 50%;
            width: @icon-size;
            height: @icon-size;

            img {
                width: 75%;
                height: 75%;
            }
        }

        p {
            padding: 0 2em;
            font-size: 1.2em;
        }
    }
}

// separator

#pub {
    padding-top: 30px;
    background-color: @darkgrey;

    .imgPub {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    img {
        width: 80%;
    }

    p {
        margin:0%;
        padding: 2em 3em;
        color: @font-color;
        font-size: 1.5em;
        font-family: 'myriad pro', sans-serif;
        text-align: center;
    }
}



#contact{
    background-image: url(../media/wood_texture.jpg);
    p{
        font-family: viking;
        text-align: center;
        font-size: 40px;
        color:@pink;
        margin: 0%;
        margin-bottom: 20px;
    }

    .fondu{
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }

    form{
        display: flex;
        flex-direction: column;
        padding: 15px 0px;

        ::placeholder{
            text-align: center;
            color: white;
            font-family: 'myriad pro', sans-serif;
        }
        #Nom, #Email{

            margin-left: 10%;
            background-color: @form-color;
            border: none;
            height: 50px;
            width: 80%;
            margin-bottom: 25px;
            font-family: 'myriad pro', sans-serif;
            font-size: 18px;
            color: white;
            padding-left: 10px;
            box-sizing: border-box;
        }
        #Commentaire{

            margin-left: 10%;
            background-color: @form-color;
            border: none;
            max-height:200px;
            max-width: 80%;
            min-height: 200px;
            min-width: 80%;
            margin-bottom: 25px;
            font-family: 'myriad pro', sans-serif;
            font-size: 18px;
            color: white;
            padding-top: 15px;
            padding-left: 10px;
            box-sizing: border-box;
        }
        .divBottom{
            width: 100%;
            display: flex;
            justify-content: center;

        }

        .bottom{
            border: none;
            height: 35px;
            width: 160px;
            color : white;
            background-color: black;
            font-family: 'myriad pro', sans-serif;
            &:hover{
                background-color: @pink;
                cursor:pointer;
            }
        }
    }
}

footer{
    .placement{
       display: flex;
    justify-content: space-between;
    }
    padding: 10px 30px;
    background-color: @darkgrey;
    color: @font-color;

    p{
        margin-top: 20px;
        font-family: arial;
    }
    .img_footer{
        margin-top: 15px;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .imgVking{
            width: 150px;
            margin-bottom: 30px;
            padding-right: 0%;
        }
    }
    .lien_footer{
        margin-top: 15px;
        width: 35%;
        a{
            text-decoration: none;
            color: @font-color;
            display: block;
            margin-bottom: 15px;
            font-family: 'viking', arial;
            &:hover{
                color: @pink;
            }
        }
    }
    .realisation2
    {

        display: none;

    }

}
.sociaux{
    display: flex;
    .instagram{
        display: block;
        height: 35px;
        width: 35px;
        background-image: url(../media/logo_instagram.png);
        background-size: 100%;
        margin-right: 12px;
        &:hover{
           background-image: url(../media/logo_instagram_h.png);
        }
    }
     .facebook{
        display: block;
        height: 35px;
        width: 35px;
        background-image: url(../media/logo_facebook.png);
        background-size: 100%;
        margin-right: 12px;
        &:hover{
           background-image: url(../media/logo_facebook_h.png);
        }
    }
     .twitter{
        display: block;
        height: 35px;
        width: 35px;
        background-image: url(../media/logo_twitter.png);
        background-size: 100%;
        &:hover{
           background-image: url(../media/logo_twitter_h.png);
        }
    }
}

// Media queries
@import 'responsive.less';
