// Insert variables here

@grey: #3f3a3a; // advantages
@darkgrey: #2d2929; // header, footer, pub
@pink: #bf2f48;
@form-color: rgba(0,0,0,0.7);
@font-color: white;

@font-face{
    font-family: "viking";
    src : url(../font/viking.ttf) format('truetype');
}
